DTunes_client_id="a5acfbb09f004775a63240a0778c4416"
DTunes_client_secret="49c1bcd66bbd4c628daf491c2db36e4f"
DTunes_DbConnectionString="mongodb://localhost:27017/DTunes"
DTunesJWTKey="THESECRETKEY"
DTunes_Dev_Port = 5000
DTunes_Socket_Port=8000
DAuth_Client_Id="aDGjBgG1bapKnzrM"
DAuth_Client_Secret="X4Cdv1p70pG5s9ckMpUQvqa8YrnF-2qV"