DTunes_client_id="YOUR_CLIENT_ID"
DTunes_client_secret="YOUR_CLIENT_SECRET"
DTunes_DbConnectionString="mongodb://localhost:27017/DTunes"
DTunesJWTKey="THESECRETKEY"
DTunes_Dev_Port = 5000
DTunes_Socket_Port=8000
DAuth_Client_Id="DAUTH CLIENT_ID"
DAuth_Client_Secret="DAUTH_CLIENT_SECRET"
