body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

#profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4a4a4a;
}

#user-name {
    margin: 10px 0 5px;
    font-size: 24px;
}

#user-email,
#user-role {
    margin: 5px 0;
    color: #b3b3b3;
}

.friend-request-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.friend-request-btn:hover {
    background-color: #45a049;
}



.friend-request-btn:active {
    background-color: lightgreen;
    color: #666666;
    cursor: not-allowed;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    color: #b3b3b3;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
}

.item p {
    margin: 0;
    font-size: 0.9em;
    color: #b3b3b3;
}

.AcceptFriendRequestBtn,
.RejectFriendRequestBtn,
.RemoveFriendRequestBtn,
.RemoveFromFriendBtn {
    margin-top: 2%;
    border: 1px solid white;
    background-color: #121212;
    color: #ffffff;
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    transition: 0.6s;
}

.AcceptFriendRequestBtn:hover,
.RejectFriendRequestBtn:hover,
.RemoveFriendRequestBtn:hover,
.RemoveFromFriendBtn:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}