<div class="sidebar">
  <div class="profile-image-container">
      <img src="/public/appImages/artistBack.webp" alt="Artist Profile" class="profile-image">
  </div>
  <h2>Artist Dashboard</h2>
  <button class="btn" id="uploadSong">Upload New Song</button>
</div>