<dialog id="changeProfileImage">
  <span class="cross">X</span>
  <h1> Upload Your New Profile Picture</h1>
  <form id="profilechangeForm">
    <div class="inputDivProfile">
        <label for="changeProfile"> Upload The New Profile Picture</label>
        <input type="file" name = "profileImage" id="changeProfile">
      </div>
      <button type="submit" id="uploadBtn">Upload</button>
  </form>
</dialog>