<dialog id="showPlayListsNames">
    <h2>Your Play Lists</h2>
    <form  id="addPlayListForm">
        <div class="checkBoxSpace">
            <!-- ckeckBoxes  -->
        </div>
        <button type="submit" id="addToPlayListsBtn">Add</button>
    </form>
</dialog>