<dialog id="showPlayListsNames">
    <h2>Your Play Lists</h2>
    <form  id="addPlayListForm">
        <div class="checkBoxSpace">
            <!-- CheckBoxes will be added here -->
        </div>
        <button type="submit" id="addToPlayListsBtn">Add</button>
    </form>
    <div class="createNewPlayListBtn">
        <form >
            <button type="submit">
                CreateNewPlayList
            </button>
        </form>
    </div>
</dialog>