<div class="playerDiv">
    <input type="range" id="rangeIn">
    <div class="options">
        <div class="back menuElements"><img src="/public/appImages/rewind-10-seconds-svgrepo-com.svg" alt="">
        </div>
        <div class="pause menuElements"><img src="/public/appImages/play.svg" alt=""></div>
        <div class="forward menuElements"><img src="/public/appImages/forward-10-seconds-svgrepo-com.svg" alt="">
        </div>
        <div class="likeDislikeBtn">
            <div class="likeBtn"><img src="/public/appImages/like-svgrepo-com(1).svg" alt="" id="likeBtnId"
                    class="notLiked"></div>
            <div class="disLikeBtn"><img src="/public/appImages/dislikeE.svg" alt="" id="disLikeBtnId" class="notLiked">
            </div>
        </div>
    </div>
</div>