<nav>
  <div class="top-section">
    <div class="imagePlace">
      <div class="profileImage">
       <% if ( locals.user) { %>
        <img id="profile" src="<%= locals.user.profileImageUrl%>" alt="D-Tunes">
        <% }else{ %>
          <img id="profile" src="/public/uploads/1720874475316-deltaLogoGreen.png">
          
       <% } %>
      </div>
    </div>
    <div class="upperDiv">
      <ul>
        <li id="Home">
          <div class="innerDiv">
            <div class="imgDiv">
              <img class="iconSvg" src="/public/appImages/home.svg" class="navImages">
            </div>
            <div class="nameDiv">Home</div>
          </div>
        </li>
        <li id="ShowPlayList">
          <div class="innerDiv">
            <div class="imgDiv">
              <img class="iconSvg" src="/public/appImages/musicalbumsvg.svg" class="navImages">
            </div>
            <div class="nameDiv">My Library</div>
          </div>
        </li>


      </ul>
    </div>
  </div>
  <div class="lowerDiv">
    <ul>

      <li id="party-Mode">
        <div class="innerDiv">
          <div class="imgDiv">
            <img class="iconSvg" src="/public/appImages/party-blower-svgrepo-com.svg" class="navImages">
          </div>
          <div class="nameDiv">Party Mode</div>
        </div>
      </li>
      <div class="logout" id="logoutBtn">
        <div class="innerDiv">
          <div class="imgDiv">
            <img class="iconSvg" src="/public/appImages/logout-svgrepo-com.svg" class="navImages">
          </div>
          <div class="nameDiv">Logout</div>
        </div>
      </div>
      </li>
    </ul>
  </div>
</nav>