<nav>
  <div class="top-section">
    <div class="imagePlace">
      <div class="profileImage">
        <img id="profile" src="/public/profileImages/defaultProfile.png" alt="D-Tunes">
      </div>
    </div>
    <div class="upperDiv">
      <ul>
        <li id="Home">
          <div class="innerDiv">
            <div class="imgDiv">
              <img class="iconSvg" src="/public/appImages/home.svg" class="navImages">
            </div>
            <div class="nameDiv">Home</div>
          </div>
        </li>
        <li id="ShowPlayList">
          <div class="innerDiv">
            <div class="imgDiv">
              <img class="iconSvg" src="/public/appImages/musicalbumsvg.svg" class="navImages">
            </div>
            <div class="nameDiv">My Library</div>
          </div>
        </li>

        <li>
          <div class="innerDiv">
            <div class="imgDiv">
              <img class="iconSvg" src="/public/appImages/recomendation.svg" class="navImages">
            </div>
            <div class="nameDiv">Recommended</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="lowerDiv">
    <ul>
      <li>
        <div class="innerDiv">
          <div class="imgDiv">
            <img class="iconSvg" src="/public/appImages/settings.svg" class="navImages">
          </div>
          <div class="nameDiv">Settings</div>
        </div>
      </li>
      <li id="party-Mode">
        <div class="innerDiv">
          <div class="imgDiv">
            <img class="iconSvg" src="/public/appImages/party-blower-svgrepo-com.svg" class="navImages">
          </div>
          <div class="nameDiv">Party Mode</div>
        </div>
      </li>
        <div class="logout" id="logoutBtn">
          <div class="innerDiv">
            <div class="imgDiv" >
              <img class="iconSvg" src="/public/appImages/logout-svgrepo-com.svg" class="navImages" >
            </div>
            <div class="nameDiv" >Logout</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>